/**********************************
 Practica 0301
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/*---------------------
  $RESET
----------------------*/

* { margin: 0px; padding: 0px }

/*---------------------
  $ETIQUETAS
----------------------*/
body {
    font-family: "Arial", sans;
}

nav, footer {
    padding: 0.8rem 0 0.8rem;
    text-align: center;
}
    
nav {
    background-color: #dd4367;
    position: fixed;
    width: 98%;
    left: 1%;
    top: 10px;

    z-index: 2;
}

footer {
    background-color: #43dd67;
    clear: left;
    margin: 0 -1%;
}

.pagina {
    position: absolute;
    width: 96%;
    left: 2%;
    top: 60px;
}

header {
    background-color: #4367dd;
    padding: 8px 0 8px;
    text-align: center;
}

aside {
    float: left;
    margin: 10px 2% 10px 0;
    height: 420px;
    width: 28%;
    background-color: #43aaaa;
}

main {
    float: left;
    margin: 10px 0px 10px 2%;
    height: 380px;
    background-color: #435aab;
    width: 68%;
}

/*---------------------
  $MEDIA
----------------------*/

@media all and (max-width: 600px)
{
    nav 
    {
        display: block !important;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .pagina,
    header, aside, main,footer
    {
        left: 0;
        top: 2.6rem;
        display: block !important;
      
        width: 100% !important;
        margin: auto !important;
    } 
}

